@font-face {
    font-family: "Geosans Light";
    src: url("../fonts/GeosansLight.woff");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #fff;
    color: #fff;
    opacity: 0.9;
    font-family: "Geosans Light", sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 0;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.flex-container {
    display: flex;
}

header {
    background-image: url("../img/foggy_mountains.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.main-nav {
    padding: 25px 0 19px 50px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    text-decoration: none;
    margin-right: 25px;
    opacity: 0.5;
    color: #fff;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: border-bottom-color .2s, color .2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #999;
    border-bottom-color: #999;
}

.header-text {
    color: #fff;
    height: 100%;
    margin-top: -60px;
    justify-content: center;
    align-items: center;
}

.header-text .flex-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-text h1 {
    font-size: 350%;
    margin-bottom: 15px;
}

.header-text p {
    font-size: 90%;
}
